@charset "UTF-8";
[v-cloak] { display: none;}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
  user-select: none;
}
fieldset,
img {
  border: 0 none
}
dl,
ul,
ol,
menu,
li {
  list-style: none
}
blockquote,
q {
  quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}
input,
select,
textarea,
button {
  vertical-align: middle;
  font-size: 100%
}
input::placeholder { 
  color: #999;
} 
label{
  vertical-align: top;
}
select::-ms-expand {
  display: none
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
body {
  -webkit-text-size-adjust: none;
  color: #111;
}
input:checked[type='checkbox'] {
  background-color: #666;
  -webkit-appearance: checkbox
}
input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='email'],
html input[type='button'],
input[type='reset'] {
  -webkit-appearance: none;
  border-radius: 0
}
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none
}
body {
  background: #fff
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #1a1a1a
}
a {
  color: #333;
  text-decoration: none
}
a:active,
a:hover {
  text-decoration: none
}
a:active,
a:hover,
button:active,
button:hover {
  outline: 0
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: 400
}
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .2)
}

@media (orientation: landscape) {
  body {
    max-width: 640px;
    margin: 0 auto
  }
}
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent
}
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%
}
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px
}
.show {
  display: block
}
.hide {
  display: none
}
.clear_g {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  *zoom: 1
}
.clear_g:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: ''
}
.pointer-events-none {
  pointer-events: none
}
.mb0{
  margin-bottom: 0!important;
}
.color_main{
  color: #e61754;
}
.sws_icon {
  overflow: hidden;
  background: url(/src/assets/img/sws_icon.png) no-repeat;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px
}
.ico_makers {
  overflow: hidden;
  background: url(//t1.daumcdn.net/makers/css/180123/ico_makers_v2_m320.png) no-repeat;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px
}
.ico_sws {
  overflow: hidden;
  background: url(//t1.daumcdn.net/makers/css/180411/ico_makers_v2_320.png) no-repeat;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px
}
.ico_product {
  overflow: hidden;
  background: url(//t1.daumcdn.net/makers/css/180809/ico_product_v2_320.png) no-repeat;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px
}
.bg_rate {
  display: block;
  overflow: hidden;
  background: url(//t1.daumcdn.net/makers/css/190121/bg_rate_320.png) no-repeat;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px
}
.ico_brand {
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  background: url(//t1.daumcdn.net/makers/css/180316/ico_brand_320.png) no-repeat 0 0;
  text-indent: -9999px
}
.link_service {
  overflow: hidden;
  background: url(//t1.daumcdn.net/makers/images/css/m320/tit_makers_170102.png) no-repeat 0 0;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px
}
.img_txt {
  display: block;
  overflow: hidden;
  background: url(//t1.daumcdn.net/makers/css/171130/img_txt_m320.png) no-repeat;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px
}
#swsWrap {
  min-width: 320px;
  background: #fff
}
#swsContent {
  width: 100%;
  padding-top: 55px
}
#swsHead .inner_head {
  position: relative;
  width: 100%;
  height: 50px
}
#swsHead .inner_head2 {
  height: 52px
}
.fixed_head {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px
}
.head_sws {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-width: 320px;
  -webkit-transform: translate3d(0, 0, 0)
}
@media only screen and (orientation: portrait) {
  body {
    min-width: 360px;
  }
}
.head_sws .common-header-logo,
.common-header-title {
  position: relative;
  height: 55px;
  background-color: #fff
}
.head_sws .common-header-logo .tit_main_logo {
  margin-left: 50px;
  display: block;
  height: 100%;
  padding: 0;
  background-position: 0 13px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url(../img/sws-bi-black@2x.png);
  -webkit-background-size: 60px auto;
  background-size: 60px auto
}
.head_sws .common-header-title .tit_svc {
  height: 55px;
  text-align: center
}
.head_sws .common-header-title .tit_svc .txt_svc {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 59px;
  color: #262626;
  white-space: nowrap;
  text-overflow: ellipsis
}
.head_sws .box_menu_left {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0
}
.head_sws .box_menu_left .btn_back {
  float: left;
  top: 0;
  width: 42px;
  height: 55px
}
.head_sws .box_menu_left .btn_back .ico_back {
  display: block;
  width: 18px;
  height: 18px;
  margin: 17px auto 0;
  background-position: -120px 0
}
.head_sws .box_menu_left .btn_home {
  float: left;
  width: 42px;
  height: 55px
}
.head_sws .box_menu_left .btn_home .ico_home {
  display: block;
  width: 18px;
  height: 20px;
  margin: 15px auto 0;
  background-position: -100px 0
}
.head_sws .box_menu_left .btn_menu {
  float: left;
  width: 43px;
  height: 55px
}
.head_sws .box_menu_left .btn_menu .ico_menu {
  display: block;
  width: 19px;
  height: 16px;
  margin: 16px auto 0;
  background-position: -100px -20px
}
.head_sws .box_menu_left .btn_menu .ico_new {
  background-image: none;
  background-size: initial;
  display: block;
  position: absolute;
  top: 12px;
  right: 6px;
  width: 5px;
  height: 5px;
  border: 3px solid #fff;
  background-color: #db635d;
  -webkit-border-radius: 50%;
  border-radius: 50%
}
.head_sws .box_menu_right {
  position: absolute;
  /* z-index: 20; */
  top: 0;
  right: 0
}
.head_sws .box_menu_right .common-header-search {
  float: left;
  width: 52px;
  height: 55px
}
.head_sws .box_menu_right .common-header-search .link_search {
  display: block;
  width: 21px;
  height: 21px;
  position: relative;
  top: 14px;
  left: 18px
}
.head_sws .box_menu_right .common-header-search .link_search .ico_search {
  display: block;
  width: 18px;
  height: 19px;
  position: relative;
  top: 1px;
  left: 2px;
  background-position: -120px -20px
}
.head_sws .box_menu_right .common-header-search .link_search .ico_basket {
  display: block;
  width: 22px;
  height: 24px;
  position: relative;
  top: -4px;
  background-position: -303px 0px
}
.head_sws .box_menu_right .wrap_btn_close {
  float: right;
  width: 42px;
  height: 55px
}
.head_sws .box_menu_right .wrap_btn_close .btn_close {
  position: relative;
  top: 14px;
  left: 12px;
  display: block;
  width: 21px;
  height: 21px
}
.head_sws .box_menu_right .wrap_btn_close .btn_close .ico_close {
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  left: 3px;
  background-position: -80px -60px;
  text-align: center
}
.head_sws .common-header-logo {
  display: none
}
.head_sws .common-header-title {
  display: block
}
.head_sws .common-header-back {
  display: block
}
.head_sws .common-header-home {
  display: block
}
.head_sws .common-header-menu {
  display: none
}
.head_sws .common-header-search {
  display: none
}
.head_sws .common-header-close {
  display: none
}
.fixed_btn .btn_head {
  position: fixed;
  top: 10px;
  z-index: 100;
  width: 54px;
  height: 34px
}
#swsFoot {
  margin: 0 auto;
  padding: 20px 5% 40px;
  background-color: #f3f3f3;
}
#swsFoot .list_foot {
  margin: 0 auto;
  text-align: center;
  *zoom: 1
}
#swsFoot .list_foot li {
  float: left;
  padding-left: 30px;
}
#swsFoot .list_foot li:first-child {
  padding-left: 0px;
}
#swsFoot .info_foot {
  clear: both;
  padding: 15px 0;
  font-size: 13px;
  color: #666;
}
#swsFoot .info_foot .corp_name {
  font-weight: 500;
  padding-bottom: 5px;
}
#swsFoot .info_foot li span {
  display: inline-block;
  width: 35%;
}
#swsFoot .info_foot .addr {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
#swsFoot .btn_foot {
  display: block;
  font-size: 13px;
  color: #111111;
  letter-spacing: -1px;
}
#swsFoot .corp_info {
  float: left;
  font-size: 11px;
  color: #999;
  clear: both
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5),
only screen and (min-resolution:1.5dppx) {
  .ico_makers {
    background-image: url(//t1.daumcdn.net/makers/css/180123/ico_makers_v2_m640.png);
    -webkit-background-size: 240px 977px;
    background-size: 240px 977px
  }
  .ico_sws {
    background-image: url(../img/ico_sws.png);
    background-size: 140px 200px
  }
  .ico_product {
    background-image: url(//t1.daumcdn.net/makers/css/180809/ico_product_v2_640.png);
    background-size: 120px 150px
  }
  .bg_rate {
    display: block;
    overflow: hidden;
    background: url(//t1.daumcdn.net/makers/css/190121/bg_rate_640.png);
    background-size: 100px 60px
  }
  .ico_brand {
    background: url(//t1.daumcdn.net/makers/css/180316/ico_brand_640.png);
    background-size: 100px 100px
  }
  .link_service {
    background-image: url(//t1.daumcdn.net/makers/images/css/m640/tit_makers_170102.png);
    -webkit-background-size: 150px 1394px;
    background-size: 150px 1394px
  }
  .img_txt {
    background-image: url(//t1.daumcdn.net/makers/css/171130/img_txt_m640.png);
    -webkit-background-size: 400px 700px;
    background-size: 400px 700px
  }
  .tit_makers {
    background-image: url(//t1.daumcdn.net/makers/images/css/m640/tit_makers_170609.png);
    -webkit-background-size: 150px 1600px;
    background-size: 150px 1600px
  }
  .order_detail .step_order li:before,
  .order_detail .step_order li:after {
    background-image: url(//t1.daumcdn.net/makers/images/css/m640/ico_step.png);
    -webkit-background-size: 30px 36px;
    background-size: 30px 36px
  }
}
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none
}
.desc_review {
  word-break: break-all;
  overflow-wrap: break-word
}
.thumb_img {
  max-width: 100%;
  vertical-align: top
}
.btn_prev {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding: 15px 13px;
  -webkit-transform: translate3d(0, 0, 0)
}
.btn_prev .ico_prev {
  display: block;
  width: 12px;
  height: 22px;
  background-position: -170px 0
}

/*----------------------------------------------
member-----------------------------------------*/
.memberWrap {
  min-width: 360px;
  margin: 0 auto;
  text-align: center;
}
.member_headbar{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.member_headbar h1{
  font-size:18px;
  font-weight: 500;
}
.member_headbar span{
  position: absolute;
  right: 20px;
  top: 17px;
}
.member_con{ 
  height: 380px;
  padding: 30px 30px 0;
}
.member_con h2 {
  font-size: 20px;
}
.member_con.member_done{
  padding-left:50px;
  padding-right:50px;
}
.member_con h5 {height : 15px;}
.member_con.member_done .title_done{
  padding-top: 30px;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Roboto';
}
.member_foot{ 
  padding: 10px 20px;
  text-align: center;
  color: #666;
  letter-spacing: -1px;
}
.member_foot p{
  padding-top: 20px;
}
.btn_center .btn {
  width: 41%;
}

/* 회원가입 */
.sws_register{
  text-align: left;
}
.sws_register h5{
  margin-top: 10px;
  text-align: center;
}
.sws_register .circle_dot{
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 2rem;
  background-color: #e61754;  
}
.sws_register .circle_dot.disable{
  background-color: #e1e1e1;  
}
.small_title {
  padding-top: 30px;
}



/* 아이디찾기/비번찾기 */
.member_con .done_text{
  font-size: 18px;
  padding: 100px 70px 100px;
}
/* 이용약관 */
.terms_con{
  padding:30px;
  text-align: left;
}
.terms_con dt{
  padding: 30px 0;
}

/* 아이디/비밀번호 찾기 */
.info_text{
  margin-top:5px;
  text-align: left;
}
.info_text span{
  color: #666;
}
/* 로그인 */
.sws_login .logo {
  margin: 0 auto;
  width: 70px;
  background-image: url(../img/sws-bi-black@3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-top: 50px;
}
.sws_login .title {
  padding-bottom: 25px;
  font-size: 22px;
  font-weight: 500;
  color: #111;
}
.login_service{
  padding-top: 20px;
}
.login_service li:not(:last-child):after{
  content: '|'; 
  padding-left: 5px;
  color: #ccc;
}
.login_service a {
  color: #666;
}
.form_item_wrap{
  overflow: hidden;
  margin-bottom: 25px;  
}
.form_item_wrap li{
  display: inline-block;
  text-align: center;
}
.form_item_wrap li:not(:first-child){
  padding-left: 20px;
}
.form_item_wrap.login_service li:not(:first-child){
  padding-left: 5px;
}
.form_item_wrap_ver {
  padding-top: 30px;  
}
.form_item_wrap_ver li{
  height: 40px;
}
.form_item_wrap_ver li:first-child{
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;  
}
.form_item_wrap_ver span{
  margin-top: 2px;
  padding-left: 10px;
  font-size: 16px;
}
.form_item_wrap_ver span + a{
  float: right;
}
.form_item_wrap_ver + .form_item_wrap_ver{
  padding-top: 20px;  
}
.form_item_wrap_ver + .form_item_wrap_ver li{
  list-style-type:circle;
  margin-left: 20px;
  color: #666;
}
.form_item_wrap_ver + .form_item_wrap_ver li:first-child{
 border-bottom: 0;
 margin-bottom: 10px;
}
.social li{  
  display: inline-block;
  width: 25%;
  text-align: center;
}
.social li a,
.social li span {
  display: block;
}


/*------------------------------------------------------------------
member [ Input ]*/

.memberWrap input {
  outline: none;
  border: none;
}
.memberWrap .wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.memberWrap .label-input100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}
.memberWrap .input100 {
  display: block;
  width: 100%;
  background: transparent;
  line-height: 1.2;
  padding: 0 5px;
}
.memberWrap .focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.memberWrap .focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #7f7f7f;
}

.memberWrap input.input100 {height: 40px;}
.memberWrap .input100:focus+.focus-input100::before {width: 100%;}
.memberWrap .has-val.input100+.focus-input100::before {width: 100%;}


.memberWrap .btn_send{
  position: absolute;
  right: 0;
  top:10px;
}

/*------------------------------------------------------------------
butoon--*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(230, 23, 84, 0.5);
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}
.btn-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 2rem;
}
.btn-main {
  color: #fff;
  background-color: #e61754;
  border-color: #e61754;
}
.btn-main:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgb(230, 23, 84, 0.5);
}

.btn-main.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #e61754;
  border-color: #e61754;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem  rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
/*
 * 아이디 저장/ 자동로그인 스타일
 */

.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff;
}
.toggle-button label {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
}
.toggle-button input {
  display: none;
}
.toggle-button__icon {
  cursor: pointer;
  pointer-events: none;
}
.toggle-button__icon:before,
.toggle-button__icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
}
.toggle-button-save label {
  height: 15px;
  line-height: 15px; 
  border-radius: 2rem;
}
.toggle-button-save label:before,
.toggle-button-save label:after {
  position: absolute;
  right: 1rem; 
}
.toggle-button-save input[type=checkbox]+label {
  width: 15px;
  background: #fff;
  border: 2px solid #ccc;  
}
.toggle-button-save input[type=checkbox]+label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button-save input[type=checkbox]+label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button-save input[type=checkbox]:checked~label {
  width: 15px;
  background: #e61754;
  border-color: #e61754;
}
.toggle-button-save input[type=checkbox]:checked~.toggle-button__icon:before,
.toggle-button-save .toggle-button__icon:before {
  transform: translate(-30%, 100%) rotate(45deg) scale(0.6, 1);
}
.toggle-button-save input[type=checkbox]:checked~.toggle-button__icon:after,
.toggle-button-save .toggle-button__icon:after {
  transform: translate(20%) rotate(-45deg);
}
.toggle-button-save .toggle-button__icon {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 0;
  left: 0;
}
.toggle-button-save .toggle-button__icon:before,
.toggle-button-save .toggle-button__icon:after {
  width: 10px;
  height: 2px;
  border-radius: 3px;
  background: #ccc;  
  margin-left: -10%;
  top: 55%;
}
.toggle-button-save input[type=checkbox]:checked~.toggle-button__icon:before,
.toggle-button-save input[type=checkbox]:checked~.toggle-button__icon:after{
  background: #fff;  
}

/*-------------------------
icon*/
.sws_icon{
  background-image: url('../img/sws_icon.png');
  background-repeat: no-repeat;
}
.btn-google{
  background-position: -3px -3px;
  background-color: #f4f4f4;
}
.btn-cacao{
  background-position: -63px -3px;
  background-color: #ffde00;
}
.btn-fb{
  background-position: -125px -3px;
  background-color: #4267b2;
}
.btn-naver{
  background-position: -185px -3px;
  background-color: #00c73c;
}
.icon_close{
  background-position: -252px 0;
  width: 14px;
  height: 14px;
}

/* 

Mypage > Main 

*/

.mainPageWrap{
  min-width: 360px;
  background-color: #f3f3f3;
}

.mySettingsWrap{
  margin-top: 5px;
  background-color: #fff;
}

.mySettingsWrap li{
  font-size: 15px;
  padding: 18px 22px;
}

.mySettingsWrap hr{
  margin: 0 12px;
  border : 1px solid #f3f3f3;
}

.mySettingsWrap .ico_password{
    display: inline-block;
    margin-right: 9px;
    background: url('../img/ico/password.png');
    width: 17px;
    height: 17px;
    background-size: 100%;
}
.mySettingsWrap .ico_notice{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/notice.png');
  width: 18px;
  height: 20px;
  background-size: 100%;
}
.mySettingsWrap .ico_alert{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/alert.png');
  width: 16px;
  height: 17px;
  background-size: 100%;
}
.mySettingsWrap .ico_clock{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/clock.png');
  width: 18px;
  height: 18px;
  background-size: 100%;
}

.mySettingsWrap .ico_heart{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/heart.png');
  width: 17px;
  height: 15px;
  background-size: 100%;
}
.mySettingsWrap .ico_review{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/review.png');
  width: 20px;
  height: 18px;
  background-size: 100%;
}
.mySettingsWrap .ico_info{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/info.png');
  width: 18px;
  height: 18px;
  background-size: 100%;
}
.mySettingsWrap .ico_message{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/message.png');
  width: 20px;
  height: 15px;
  background-size: 100%;
}
.mySettingsWrap .ico_signout{
  display: inline-block;
  margin-right: 9px;
  background: url('../img/ico/signout.png');
  width: 16px;
  height: 16px;
  background-size: 100%;
}

.mySettingsWrap span{
  position: relative;
  top: 2px;
}


.myInfoWrap .profile_img{
  width: 65px;
  height: 65px;
  background: url('../img/ico/ico_member.png');
  background-size: 100%;
  margin-top: 10px;
  margin-right: 15px;
  float: left;
}

.myInfoWrap .infoHeader{
  height: 120px;
  padding:28px 22px 0px;
  color: white;
  background-color: #282a34;
}

.myInfoWrap .profile_id{
  font-size: 16px;
  font-weight: 500;
}



.myInfoWrap .infoFooter{
  font-family: "Noto Sans KR";
  height: 44px;
  color: white;
  font-size: 15px;
  background: #32343e;
  text-align: center;
  line-height: 44px;
  padding: 0 22px;
}


.myInfoWrap .dot{
  margin: 0 0.9em;
  font-weight: 500;
}

.myInfoWrap .ico_edit{
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  left: -30px;
  top: -15px;
  background: url('../img/ico/ico_edit.png');
  background-size: 100%;
  cursor: pointer;
}

.myInfoWrap .follower,.following,.point{
  font-weight: 500;
}

.myInfoWrap .point{
  color :#e61754;
  font-weight: 500;
}
  
.myOptionBarWrap{
  /* height:  */
  padding: 17px 17px 0;
  margin-top: 1px;
  background: #282a34;
}

.cartBtn{
  float: right;
  width: 19px;
  height: 22px;
  background: url('../img/ico/ico_cart.png');
  background-size: 90%;
  background-position: 0 -1px;
  background-repeat: no-repeat;
}
.settingBtn{
  float: right;
  margin-right: 30px;
  width: 22px;
  height: 22px;
  background: url('../img/ico/ico_setting.png');
  background-size: 100%;
}
.qaBtn{
  float: right;
  margin-right: 30px;
  width: 21px;
  height: 20px;
  background: url('../img/ico/ico_qa.png');
  background-size: 100%;
}

.myOptionBarWrap .cartBadge{
  display: inline-block;
  position: relative;
  top:-10px;
  left: 10px;
  line-height: 22px;
  border-radius: 10px;
  text-align: center;
  padding: 0 4px;
  min-width: 14px;
  height: 20px;
  background-color: #e61754;
  color: white;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
}

.orderStatusWrap{
  margin-top: 5px;
  width: 100%;
  height: 133px;
  background-color: white;
}

.orderStatusWrap .staHeader{
  padding: 20px 22px;
  font-size: 16px;
}

.orderStatusWrap .staBody{
  margin: 0 12px;
}

.orderStatusWrap .trackingSta{
  font-size: 13px;
  color: #666666;
  }

.orderStatusWrap .trackingCnt{
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  color: #cccccc;
}

.orderStatusWrap .enabled{
  color: black;
}

.orderStatusWrap .shipping{
  color: #e61754;
}

.orderStatusWrap .staBody li{
  width: 20%;
  height: 50px;
  text-align: center;
  float: left;
}

.myUtilWrap{
  margin-top: 5px;
  height: 180px;
  background-color: #fff;
  padding: 20px 11px;
}

.myUtilWrap .utilBtn{
  display: inline-block;
  text-align: center;
  width: 32%;
  height: 60px;
  margin:20px 0;
}

.myUtilWrap .ico_track{
  display: inline-block;
  background: url('../img/ico/delivery.png');
  width: 29px;
  height: 23px;
  background-size: 100%;
}
.myUtilWrap .ico_list{
  display: inline-block;
  background: url('../img/ico/list.png');
  width: 20px;
  height: 24px;
  background-size: 100%;
}
.myUtilWrap .ico_card{
  display: inline-block;
  background: url('../img/ico/card.png');
  width: 32px;
  height: 18px;
  background-size: 100%;
}
.myUtilWrap .ico_gift{
  display: inline-block;
  background: url('../img/ico/gift.png');
  width: 24px;
  height: 24px;
  background-size: 100%;
}
.myUtilWrap .ico_friend{
  display: inline-block;
  background: url('../img/ico/member.png');
  width: 34px;
  height: 27px;
  background-size: 100%;
}
.myUtilWrap .ico_utilQa{
  display: inline-block;
  background: url('../img/ico/qa2@3x.png');
  width: 41px;
  height: 27px;
  background-size: 100%;
}

.myFooterWrap{
  padding: 20px 22px 0;
  height: 60px;
  font-size: 1em;
  text-align: center;
}

.myFooterWrap .footerText{
  line-height: 40px;
}

.myFooterWrap .center{
  margin: 0 5%;
}


/* 

MyPage > Contact 

*/

.contactWrap{
  min-width: 360px;
  min-height: 640px;
}

.contactWrap button{
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 360px;
  border-radius: 0;
}

.contact_content{
  padding: 0 12px;
}

.contact_content textarea{
  width: 100%;
  height: 200px;
  resize: none;
  border: 1px solid #CCCCCC;
  font-size: 14px;
  display: inline-block;
}
.contact_content h3{
  margin: 20px 0 10px ;
  font-size: 15px;
  font-weight: normal;
  font-family: "Noto Sans KR";
}


.contact_content .text-center{
  text-align: center;
}


.contact_email h3{
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: normal;
     margin: 30px 12px 20px;
}

.email_form input, select{
    all: unset;
}

.email_form select{
    float: right;
    color:#E61754;
}

.email_form input{
  width: 80%;
}

.email_form{
    margin: 0 12px 0;
    padding-bottom: ;
    /* border-bottom: 1px solid #EEEEEE; */
    width: 95%;
}

.contact_info_wrap{
  font-family: "Noto Sans KR";
  margin-top: 10px;
  height: 100px;
  background-color: #F2F2F2;
}

.contact_info_wrap .contact_mainText{
  font-size: 16px;
  padding-top: 15px;
  margin-bottom: 3px;
}
.contact_info_wrap .contact_subText{
  font-size: 13px;
  color: #666666;
}

.ico_qa{
  float: left;
  margin:33px 15px 33px 12px;
  background: url("../img/ico/qa@3x.png");
  background-size: 100%;
  width: 53px;
  height: 34px;
}

.text-color-sws{
  color: #e61754;
  font-weight: 500;
}

/* 

MyPage > Notice

*/

.noticeWrap{
  min-width: 360px;
}

.noticeWrap hr{
    border:1px solid #F9F9F9;
    margin: 0;
}

#listHr{
    width: 95%;
}


.noticeListWrap{
  padding: 10px;
  height: 100%;
}

.noticeListWrap:hover{
  background: #F9F9F9;
}

.notice_date{
  font-family: Roboto;
 font-size: 13px;
 color: #666666;
}

.notice_title,.notice_content{
  font-family: "Noto Sans KR";
  font-size: 14px;
}

.noticeListWrap .hidden{
  display: none;
}

/* 

Shared > Bar

*/

.headBarWrap{
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: white;
}

.ico_back_arr{
  background-repeat: no-repeat;
  float: left;
  background: url('../img/ico/back_arr@3x.png');
  background-size: 100%;
  width: 16px;
  height: 12px;
}

.headBarWrap .ico_back_arr{
  position: relative;
  top: 18px;
  left: 17px;
}



/* 

MyPage > Tracking

*/

.trackingWrap{
  min-width: 360px;
  min-height: 640px;
  background-color: #f3f3f3;
}


.trackingOrderWrap{
    display: inline-block;
    width: 100%;
    font-family: "Noto Sans KR";
    margin-top: 5px;
    background-color: white;
}

.trackingOrderWrap h3{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.trackingOrderWrap .orderBody{
  float: left;
  margin: 0 12px 15px;
}

.trackingOrderWrap .orderTitle,.orderOption{
  font-size: 14px;
}

.trackingOrderWrap .orderHeader{
    border-bottom: 1px solid #f3f3f3;
    margin:20px 12px 10px;
    padding-bottom: 5px;
}

.trackingOrderWrap .orderSta{
    float: right;
    font-size: 14px;
    font-weight: 500;
    color:#e61754;
}

.trackingOrderWrap .orderDate{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.trackingOrderWrap .orderOption{
    color: #666666;
}

.trackingOrderWrap .orderImage{
    float: left;
    width:70px;
    height: 70px;
    background-color:#f3f3f3;
    margin-right: 10px;
}
.trackingOrderWrap .shippingSearchBtn{
  width: 70px;
  height: 32px;
  color: #e61754;
  border: 1px solid #e61754;
  border-radius: 2px;
  margin: 15px 0 15px 82px;
}

.trackingStatusWrap{
  margin-top: 1px;
  padding-top: 21px;
  height: 70px;
  background-color: white;
  text-align: center;
}


.trackingStatusWrap .trackingCnt{
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
}

.trackingStatusWrap .trackingSta{
    font-family: "Noto Sans KR";
  font-size: 13px;
}

.trackingStatusWrap .trackingData{
  display: inline-block;
}


.ico_right_progress{
  display: inline-block;
  background: url("../img/ico/right_arr@3x.png");
  background-size: 100%;
  width: 7px;
  height: 12px;
  position: relative;
  bottom: 30%;
  margin: 0 4%;

}
.trackingStatusWrap .selectedMode{
  color: #e61754;
}

/* 

Tracking > Detail

*/

.trackingDetailWrap{
  background-color: #f3f3f3;
}



.detailDestWrap{
  font-family: "Noto Sans KR";
  margin-top: 5px;
  background-color: white;
  padding: 15px 12px;
}

.detailDestWrap .destHeader{
  
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 1px solid #eeeeee;
}

.detailDestWrap .destBody{
  margin: 15px 0 0 0;
}

.detailDestWrap .destBody th{
  width: 39px;
  color:#666666;
  font-weight: normal;
  font-size: 14px;
  padding-right: 23px;
}
.detailDestWrap .destBody td{
  font-size: 14px;
}

.detailOrderWrap{
  font-family: "Noto Sans KR";
  margin-top: 5px;
  padding-left: 12px;
  background-color: white;
}

.detailOrderWrap .orderHeader h3{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  float: left;
}

.detailOrderWrap .orderSta{
  float: right;
}

.detailOrderWrap .orderHeader{
  padding: 20px 12px 5px;
  border-bottom: 1px solid #eeeeee;
  height: 20px;
}

.detailOrderWrap .orderBody{
  padding: 10px 0 15px 0;
  border-top: 1px solid #eeeeee;
}

.detailOrderWrap .orderNo{
  /* padding:10px 0 10px 12px; */
  height: 20px;
}

.detailOrderWrap .orderHeader .orderSta{
  color: #e61754;
  font-size: 14px;
  font-weight: 500;
}

.detailOrderWrap .orderNo{
  margin: 10px 12px;
  font-size: 13px;
  font-weight: 500;
  height: 20px;
  color: #666666;
}

.detailOrderWrap .orderImage{
  float: left;
  width:70px;
  height: 70px;
  background-color:#f3f3f3;
  margin: 0 10px 70px 0;
}

.detailOrderWrap .orderOption{
  color: #666666;
}

.detailOrderWrap .detailOrderBtn{
  text-align: center;
  font-size: 13px;
  width: 70px;
  height: 34px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin: 15px 0 0 0;
}

.detailOrderWrap .cancelBtn{
  color: #666666;
  width: 246px;
}

.detailOrderWrap .detailOrderBtnCr{
  text-align: center;
  font-size: 13px;
  width: 110px;
  height: 32px;
  color: #e61754;
  border: 1px solid #e61754;
   margin: 15px 0 0 0;
  border-radius: 2px;
}

.detailOrderWrap .orderPrice{
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.detailPayWrap{
  font-family: "Noto Sans KR";
  margin-top: 5px;
  background-color: white;
  padding:15px 12px 20px;
}

.detailPayWrap .payHeader{
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 1px solid #eeeeee;
}

.detailPayWrap .payBody th{
  text-align: left;
  width: 95px;
  padding: 0 0 5px 0;
  font-size: 14px;
  font-weight: normal;
}

.detailPayWrap .payBody table{
  margin-top: 15px;
  width: 100%;
}

.detailPayWrap .payBody td{
  text-align: right;
  font-size: 14px;
  font-weight: normal;
}

.detailPayWrap .payBody .boldPrice{
  font-weight: 500;
}

.detailPayWrap .payBody .thTotalPrice{
  font-size: 18px;
  font-weight: 500;
  color: #e61754;
}
.detailPayWrap .payBody .tdTotalPrice{
  font-size: 18px;
  font-weight: bold;
  color: #e61754;
}

.detailPayWrap .payBody .underline{
  border-bottom: 1px solid #eeeeee;
}
.detailPayWrap .payBody .underlineBlack{
  border-bottom: 1px solid black;
}

/* 

Product > Description > Review

*/

.reviewHeaderWrap .ico_star_half{
  display: inline-block;
  background: url("../img/ico/ico_star_half.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
}


.reviewHeaderWrap .ico_star_full{
  display: inline-block;
  margin-left: 3px;
  background: url("../img/ico/ico_star_full.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.reviewHeaderWrap .ico_star_none{
  display: inline-block;
  background: url("../img/ico/ico_star_none.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
}

