@charset "UTF-8";

/* slide style */
.swiper-slide a{
    display: block;
    line-height: 0;
}

/* 메인 sale */

.pbottom {
    padding-bottom: 40px;
    border-bottom: 10px solid #eaeaea;
}
.sale_slide {
    padding-left: 5%
}
.sale_slide h4 {
    display: block;
    margin: 7% 0 5% 0;
    font-size: 24px;
    word-break: keep-all;
    line-height: 1.3;
    color: #1a1a1a;
    font-weight: 600;
}
.sale_slide img {
    width: 180px;
    height: 180px;
}
.sale_slide .swiper-slide {
    width: 180px;
}

/* 메인 상단 큰배너 */
.big_slide{
  position: relative;
}
.big_slide .title {
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    text-align:center;
    color:#fff;
    /* background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.62) 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.62) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.62) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000', GradientType=0); */
    /* IE6-9 */
}
.big_slide .title .smallText{
  font-family: 'Roboto';
  font-size:16px;
  font-weight:700;
}
.big_slide .title .bigText{
  margin-top:15px;
  font-size:28px;
  font-weight:700;
  line-height:1.29;
}


/* .big_slide .title h4 {
    display: block;
    position: relative;
    margin-right: 12%;
    padding-bottom: 10px;
    font-size: 27px;
    word-break: keep-all;
    line-height: 1.3;
    color: #fff;
}
.big_slide .tag_title {
    display: block;
    margin-right: 20%;
    color: #fff;
    font-size: 16px;
} */


.big_slide .swiper-slide {
    position:relative;
    min-width: 320px;
    height: 320px;
}
.big_slide .swiper-slide img{
  position: relative;
  width:100%;
  filter:brightness(0.85);
  -webkit-filter:brightness(0.85);
}


.big_slide .swiper-pagination{
  position: absolute;
  right:12px;
  bottom:13px;
  display:block;
  width:54px;
  height:28px;
  border-radius:14px;
  background:rgba(0,0,0,0.4);
  font-family: 'Roboto';
  color:rgba(255,255,255,0.6);
  font-size:13px;
  letter-spacing: 3px;
  line-height:28px;
  text-align: center;
}
.big_slide .swiper-pagination span{
  color:#fff;
  font-weight:700;
}


/* 서브 메인 슬라이드 */
.subSlide .big_slide .swiper-slide {
  height:240px;
}






/* 메인 브랜드 슬라이드 */

.brand_slide {
    padding-left: 5%
}
.brand_slide h4 {
    display: block;
    margin: 7% 0 5% 0;
    font-size: 22px;
    word-break: keep-all;
    line-height: 1.3;
    color: #1a1a1a;
    font-weight: 700;
}
.brand_slide .channel_circle {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brand_slide .channel_name {
    display: -webkit-box;
    width: 90px;
    margin-top: 15px;
    line-height: 1.5;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

/* main vertical item box */

.section_ITEM h4 {
    font-family: 'Roboto';
    color: #111;
    font-size: 24px;
    font-weight: 700;
    padding: 0 12px 20px;
    line-height: 1.3;
    word-break: keep-all;
}
.section_ITEM .box_best_item {
    padding-bottom: 50px;
}
.section_ITEM .box_best_item .link_goods {
    position: relative;
    display: block;
    overflow: hidden
}
.section_ITEM .box_best_item .goods_best {
    position: relative;
    padding: 19px 15px 0
}
.section_ITEM .box_best_item .goods_best .tit_goods {
    display: block;
    position: relative;
    margin-right: 12%;
    font-size: 27px;
    font-weight: 600;
    word-break: keep-all;
    line-height: 1.3;
    color: #1a1a1a;
}
.section_ITEM .box_best_item .goods_best .txt_goods {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    color: #1a1a1a;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 1.5
}
.condition_order {
    display: block;
    margin-top: 18px;
    line-height: 1.17;
    letter-spacing: .5px
}
.item_price {
    font-size: 18px;
    overflow: hidden;
    margin-top: 5px
}
.item_price .discount {
    font-family: 'Roboto', sans-serif ;
    color: red;
}

/* 메인 라이브슬라이드 */

.live_slide{
  margin-top:102px;
  margin-bottom:60px;
}
.live_slide h4 {
    font-family: 'Roboto';
    padding: 0 12px 15px;
    font-size: 24px;
}
.live_slide h4>a {
    float: right;
    padding-top: 5px;
    font-size: 15px;
    font-weight: normal;
    color: #e61654;
}
.live_slide .swiper-container{
  padding:0 12px;
}
.live_slide .item{
  position: relative;
  width:300px;
}
.live_slide .item.single{
  display:block;
  width:calc(100% - 24px);
  margin-left:12px;
}
.live_slide .item a{
  display:block;
}
.live_slide .item .imgBox{
  overflow: hidden;
  width:100%;
  padding-top:60%;
}
.live_slide .item .imgBox img{
  width:100%;
}
.live_slide .item.live .imgBox:before{
  content:'Live';
  position: absolute;
  top:0;
  left:0;
  display: block;
  width:60px;
  height:30px;
  background:#000;
  line-height:30px;
  text-align:center;
  font-family: 'Roboto';
  font-size:18px;
  font-weight:bold;
  color:#e61654;
}
.live_slide .item .btn_movie{
  position: absolute;
  top:159px;
  right:15px;
  width:42px;
  height:42px;
  border-radius:50%;
  background:rgba(255,255,255,0.9);
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
}
.live_slide .item.single .btn_movie{
  top:0;
  margin-top:calc(60% - 21px);
}
.live_slide .item .btn_movie img{
  width:13px;
  margin-top:12px;
  margin-left:16px;
}
.live_slide .item .txtBox{
  display:block;
  width:240px;
  margin-top:5px;
  font-size:18px;
  font-weight:500;
  line-height:1.5;
}
.live_slide .noItem{
  padding:80px 0;
  font-size:16px;
  font-weight:500;
  text-align:center;
}


/* 서브 라이브 슬라이드 */
.subSlide{
  margin-top:44px;
}
.live_slide.subSlide{
  margin-top:50px;
}




.weekly_best_main .item{
  position: relative;
  margin-bottom:50px;
}
.weekly_best_main .like{
  position: absolute;
  top:11px;
  left:15px;
  z-index:100;
  display:block;
  width:30px;
  height:30px;
  padding:10px;
  background:url('../img/ico/ico_like_search_empty.png') 50% 50% no-repeat;
  background-size:20px auto;
}
.weekly_best_main .like.on{
  background:url('../img/ico/ico_like_search.png') 50% 50% no-repeat;
  background-size:20px auto;
}
.weekly_best_main .like .ir{
  display:block;
  position: relative;
  z-index:-1;
  overflow: hidden;
  width:1px;
  height:1px;
  font-size:1px;
  line-height:0;
  text-indent:-9999px;
}
.weekly_best_main .img_box{
  position: relative;
  width:100%;
  padding-top:88.88%;
}
.weekly_best_main .img_box .txtBox{
  position: absolute;
  right:0;
  bottom:0;
  width:calc(100% - 12px);
  padding:15px 22px 10px 10px;
  background:rgba(255,255,255,0.9);
  box-sizing: border-box;
}
.weekly_best_main .img_box .txtBox h5{
  margin-bottom:3px;
  padding-right:48px;
  font-size:24px;
  font-weight:500;
}
.weekly_best_main .img_box .txtBox .btn_movie{
  position: absolute;
  top:-21px;
  right:16px;
  width:42px;
  height:42px;
  border-radius:50%;
  background:rgba(255,255,255,0.9);
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
  animation:btn_ani 2s ease alternate infinite;
}
.weekly_best_main .img_box .txtBox .btn_movie img{
  position: absolute;
  top:12px;
  left:16px;
  width:13px;
  transform-origin: 5px 50%;
  animation:btn_ani2 2s ease alternate infinite;
}

@keyframes btn_ani{
  0%{
    transform:translate(0);
  }
  100%{
    transform:translate(-100%);
  }
}
@keyframes btn_ani2{
  0%{
    transform:rotate(0);
  }
  100%{
    transform:rotate(-360deg);
  }
}

.weekly_best_main .link_goods > .txtBox{
  width:calc(100% - 12px);
  margin-left:12px;
  padding:4px 22px 10px 10px;
  box-sizing: border-box;
}
.weekly_best_main .link_goods > .txtBox dt{
  color:#333;
}
.weekly_best_main .link_goods > .txtBox dd{
  color:#111;
  font-weight:700;
}
.weekly_best_main .link_goods > .txtBox dd span{
  margin-left:5px;
}
.weekly_best_main .noItem{
  padding:80px 0;
  font-size:16px;
  font-weight:500;
  text-align:center;
}


/* 서브페이지 카테고리 슬라이더 */

.cateogry_slide{
  overflow-x: auto;
  margin:20px 0;
  padding:0 7px;
}
.cateogry_slide .item{
  position: relative;
  width:88px;
  height:88px;
  margin:0 2px;
  line-height:1;
} 
.cateogry_slide .item.on:after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:2px solid #e61654;
  box-sizing: border-box;
}
.cateogry_slide .item img{
  position: absolute;
  top:4px;
  left:4px;
  z-index:1;
  display:block;
  width:80px;
  height:80px;
}
.cateogry_slide .item p{
  position: absolute;
  bottom:15px;
  left:0;
  z-index:2;
  width:100%;
  text-align: center;
  color:#fff;
  font-size:15px;
  font-weight:500;
}




/* 서브페이지 공용 */
.brandMargin{
  margin-top:50px;
}
.subBlock h1{
  margin-bottom:15px;
  padding:0 12px;
  font-size:22px;
  font-weight:500;
}
.subBlock h2{
  font-size:18px;
  font-weight:500;
  line-height:1.5;
}
.subBlock h2+p{
  color:#666;
  font-size:14px;
  font-weight:400;
  line-height:1.5;
}
.subBlock .bgBox{
  display:block;
  width:100%;
  height:210px;
}
.subBlock .itemList{
  position: relative;
  top:-20px;
  left:12px;
  width:calc(100% - 12px);
  padding:20px 32px 20px 20px;
  box-sizing: border-box;
  background:#fff;
}
.subBlock .itemList .item{
  width:100%;
  margin:30px 0;
  padding:0;
}
.subBlock .itemList .item >a{
  display:block;
  font-size:0;
}
.subBlock .itemList .imgBox{
  position: relative;
  display:inline-block;
  width:100px;
  height:100px;
  margin-right:15px;
  vertical-align: middle;
}
.subBlock .itemList .imgBox.mov:after{
  content:'';
  position: absolute;
  right:0;
  bottom:0;
  display:block;
  width:30px;
  height:30px;
  background:rgba(255,255,255,0.5) url('../img/ico/btn_play.png') 11px 50% / 10px auto no-repeat;

}
.subBlock .itemList .imgBox img{
  width:100%;
}
.subBlock .itemList .txtBox{
  display:inline-block;
  width:calc(100% - 125px);
  vertical-align: middle;
}
.subBlock .itemList .itemName{
  font-size:14px;
} 
.subBlock .itemList .price{
  font-size:15px;
  font-weight:500;
} 
.subBlock .itemList .price span{
  margin-left:5px;
}



/* top버튼 */





.img-area {
    position: relative;
    margin-bottom: 16px;
    min-width: 320px;
    border-radius: 4px;
    border: solid 1px #e2e2e2;
    overflow: hidden;
}
.img-area .circle-box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    height: 60px;
    text-align: center;    
    border-radius: 36px;
    background-color: #000;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out 0s;
}
.img-area .circle-box::before {
    content: "";
    z-index: 0;
    display: block;
    background: #eb2055;
    animation: pulse-border 1100ms ease-out infinite;
    -webkit-animation: pulse-border 1100ms ease-out infinite;
}
.img-area .circle-box {
    cursor: pointer;
    opacity: 0.5;
}
.img-area .circle-box i.xi-play {
    margin-top: 15px;
    margin-left: 5px;
    display: inline-block;
    width: 0; 
    height: 0; 
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #ffffff;

}
.img-area:active .circle-box {
    cursor: pointer;
    opacity: 0.3;
}
.img-area img {
    max-width: 100%;
    height: 251px;
}
.live-info-top {
    position: absolute;
    top: 0px;
    left: 0px;
}
.ic-live-wrap {
    display: inline-block;
    padding: 15px;
    border-radius: 2px;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    opacity: 0.8;
}
.ic-live-wrap.status-vod {
    background-color: #000;
}
.brand-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.62);
}
.brand-icon li {
    float: left;
}
.brand-icon .brand-logo {
    margin-top: 10px;
}
.brand-icon i {
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brand-icon .brand-name {
    padding-left: 10px;
    font-size: 14px;
}
.brand-icon .brand-view {
    font-size: 12px;
    float: right;
}
.desc-area {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 24px;
    font-size: 18px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

/* 상세 라이브 */










/* 플레이어 커스텀 */
.productMediaWrap{
  position: relative;
  width:100%;
  padding-top:56.3%;
}
.productMediaWrap.fullscreen{
  height:100vh;
  padding:0;
}
.productMediaWrap .mainMedia{
  position: absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:100%;
}
.mainMedia .flowplayer{
  height:100%;
}
.info .flowplayer {
  position: relative;
  width:100%;
  height:100%;
  background:#000 !important;
}
.fullscreen .flowplayer{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.layer-player {
    position: relative;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* background-color: #eb2055; */
  }
  .layer-player .buy-wrap {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 10px;
    height: 84px;
    padding: 15px 10px;
    text-align: left;
    justify-content: space-between;
    background-color: #fff;
  }
  .buy-wrap .title {
    margin-bottom: 12px;
    font-size: 15px;
    color: #111;
  }
  .buy-wrap .price-title strong {
    font-size: 18px;
    font-weight: 600;
    color: #e61754;
  }
  .buy-wrap .price-title em {
    color: #000
  }
  .buy-wrap .price-title del {
    font-size: 13px;
    color: #999;
  }
  .buy-wrap .price-title .btn {
    float: right;
  }
  .buy-wrap .btn {
    width: 75px;
    height: 27px;
    padding: 0;
    font-size: 13px;
  }

/* 플레이어 컨트롤러 */
body>#flowplayer-floating-container {
  left: 65% !important;
  margin-top: -140px;
}
  /* .fp-timeline {
    bottom: 100px
  }
  .fp-small-switch,
  .fp-live-status,
  .fp-duration,
  .fp-elapsed,
  .fp-volume {
    bottom: 100px;
    position: relative;
  }
  .fp-btns,
  .fp-volume {
    display: none;
  } */
  /* 플레이어 오른쪽 아이콘 */
  /* 전체보기 */
  
  /* .flowplayer .fp-secondary {
    position: absolute;
    top: 20px;
    right: 10px;
    width:30px;
    height:30px;
    border-radius: 50%;
    background:rgba(0,0,0,0.45);
    text-align: center;
    opacity:0;
  } */
  .flowplayer.is-hovered .fp-secondary,
  .flowplayer.is-starting .fp-secondary{
    opacity:0;
  }
  .flowplayer.is-hovered.is-paused .fp-secondary,
  .flowplayer.is-hovered.is-playing .fp-secondary,
  .live.fullscreen .flowplayer.is-paused .fp-secondary,
  .live.fullscreen .flowplayer.is-touched .fp-secondary{
    opacity:1;
  }
  .info .fp-secondary{
    top:20px;
  }
  .live .flowplayer .fp-secondary{
    right:15px;
    background:none;
  }
  .live .flowplayer.is-fullscreen .fp-secondary{
    background:rgba(0,0,0,0.45);
  }

  /* 볼륨음소거 */  
  .flowplayer .fp-volumebtn {
    position: absolute;
    top: 62px;
    right: 10px;
    width:30px;
    height:30px;
    margin-right:0;
    border-radius: 50%;
    background:rgba(0,0,0,0.45);
    text-align: center;
  }
  .flowplayer .fp-volumebtn svg{
    width:10px;
    margin-top:7px;
  }
  .flowplayer.is-muted .fp-volumebtn:after{
    position: relative;
    top:-2px;
    font-size:16px;
  }
  /* 공유버튼 */
  
  .fp-secondary .fp-share-menu {
    position: absolute;
    top: 105px;
    right: 0;
  }
  .info .fp-secondary .fp-share-menu{
    top:90px;
  }

  /* 비디오메뉴선택 */
  
  .flowplayer+.layer-player .thumbs {
    display: none;
    position: absolute;
    top: 10px;
    left: 12px;
    right: 12px;
    justify-content: space-between;
  }
  .flowplayer.is-hovered+.layer-player .thumbs {
    display: flex;
  }
  .layer-player .thumbs span {
    position: relative;
    width: 19%;
    height: 181px;
    /* filter: grayscale(1); */
    border: 1px solid #fff;
    cursor: pointer;
  }
  .layer-player .thumbs span:hover {
    filter: none;
  }
  .layer-player .thumbs img {
    margin: 0 0 -3px;
    max-width: 100%;
  }
  .layer-player .thumbs .selected {
    border: 4px solid #e61754;
    border-radius: 2px;
    filter: none
  }
  .layer-player .thumbs .thumb-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 15px;
    color: #eee;
  }
  .layer-player .thumbs .selected .thumb-title {
    color: #e61754;
    font-weight: 500;
  }

  /* .mainMedia.live{
    position:relative;
    width:100%;
    height:100vh;
  } */


  
  .live .flowplayer .fp-footer{
    z-index:101;
  }
  .live .flowplayer .fp-ui{
    z-index:102;
    opacity:0;
    transition:all 0.3s ease;
  }
  .live .flowplayer.is-paused .fp-ui{
    opacity:1;
  }
  /* .live .flowplayer .fp-secondary{
    top:65px;
    right:16px;
    width:30px;
    height:30px;
    border-radius: 50%;
    background:rgba(0,0,0,0.5);
    text-align: center;
  }
  .live .flowplayer .fp-secondary .fp-fullscreen{
    display:none;
    width:24px;
    margin-top:6px;
  }
  .live .flowplayer .fp-secondary .fp-fullscreen-exit{
    display:inline-block;
    width:24px;
    margin-top:6px;
  } */
  .flowplayer .fp-secondary .fp-fullscreen{
    display:none;
  }
  /* .live.info .flowplayer .fp-secondary .fp-fullscreen,
  .live .flowplayer.is-fullscreen .fp-secondary .fp-fullscreen-exit,
  .flowplayer .fp-secondary .fp-fullscreen,
  .flowplayer.is-fullscreen .fp-secondary .fp-fullscreen-exit{
    display:inline-block;
    margin-right:0;
    margin-top:7px;
    width:20px;
  } */
  .live .flowplayer .fp-volumebtn{
    display:none;
    position:fixed;
    top:65px;
    right:16px;
    width:30px;
    height:30px;
    margin-right:0;
    border-radius: 50%;
    background:rgba(0,0,0,0.45);
    text-align: center;
  }
  .live.fullscreen .flowplayer.is-paused .fp-volumebtn{
    position:absolute;
  }
  .live.info .flowplayer .fp-volumebtn{
    position:absolute;
    top:-100px;
  }
  @media screen and (min-width: 600px) {
    .live.info .flowplayer .fp-volumebtn{
      position:absolute;
      top:-100%;
    } 
  }
  .live.info .flowplayer.is-fullscreen .fp-volumebtn,
  .live.fullscreen .flowplayer.is-touched .fp-volumebtn,
  .productMediaWrap.fullscreen .live.fullscreen .flowplayer.is-paused .fp-volumebtn{
    position:fixed;
    top:65px;
  }
  .flowplayer.is-small.is-share-menu .fp-controls{
    display:inline-block !important;
  }
  .live .flowplayer .fp-volumebtn svg{
    width:10px;
    margin-top:7px;
    /* transform: scale(0.7); */
  }
  .live .flowplayer.is-muted .fp-volumebtn:after{
    position: relative;
    top:-2px;
    font-size:20px;
  }
  .live .flowplayer .fp-small-switch{
    display:none;
  }
  .live .flowplayer .fp-volume{
    position:absolute;
    bottom:40px;
    right:7px;
  }
  .live .flowplayer.use-drag-handle .fp-dragger{
    top:-0.6em;
  }
  .live .flowplayer.is-touched .fp-ui{
    opacity:1;
    background:rgba(0,0,0,0.5);
  }
  .flowplayer .fp-header .fp-share-menu{
    float:none;
    right:10px;
    width:30px;
    height:30px;
    margin-right:0;
    border-radius: 50%;
    background:rgba(0,0,0,0.45);
    text-align: center;
    opacity:0;
  }
  .flowplayer.is-playing.is-hovered .fp-header .fp-share-menu,
  .flowplayer.is-paused .fp-header .fp-share-menu,
  .flowplayer.is-touched .fp-header .fp-share-menu{
    opacity:1;
  }
  .flowplayer.is-starting .fp-header .fp-share-menu{
    opacity:0;
  }
  .flowplayer .fp-header .fp-share-menu .fp-share{
    width:18px;
    margin-top:4px;
    margin-right:2px;
  }
  .live .flowplayer .fp-header .fp-share-menu .fp-menu,
  .mainMedia .flowplayer .fp-header .fp-share-menu .fp-menu{
    left:calc(100% - 150px) !important;
    top:0 !important;
    right:40px !important;
    bottom:auto !important;
    max-height:auto !important;
    min-height: 90px !important;
    width:120px !important;
    height: 90px !important;
  }
  .flowplayer.is-small .fp-share-menu li{
    display:block;
    margin:5px 0;
    padding-left:10px;
  }
  .live .flowplayer .fp-controls {
    position: absolute;
    left:0;
    bottom:116px;
    width:100%;
  }
  .live.info .flowplayer .fp-controls{
    bottom:0;
  }
  .live .flowplayer .productInfoBox{
    position: absolute;
    left:0;
    bottom:0;
    z-index:103;
    width:calc(100% - 24px);
    height:106px;
    margin:10px 12px;
    padding:15px 10px;
    background:#fff;
    color:#111;
    box-sizing: border-box;
    opacity:0;
    transition:all 0.3s ease;
  }
  .live .flowplayer.is-touched .productInfoBox,
  .live .flowplayer.is-paused .productInfoBox{
    opacity:1;
  }
  .live .flowplayer .productInfoBox h1{
    font-size:15px;
    color:#111;
  }
  .live .flowplayer .productInfoBox .bottom{
    overflow: hidden;
    margin-top:5px;
  }
  .live .flowplayer .productInfoBox .bottom .price{
    float:left;
    font-size:0;
  }
  .live .flowplayer .productInfoBox .bottom .sale{
    display:inline-block;
    margin-right:4px;
    font-size:18px;
    font-weight:700;
    vertical-align: bottom;
  }
  .live .flowplayer .productInfoBox .bottom .now_price{
    display:inline-block;
    font-size:18px;
    font-weight:700;
    vertical-align: bottom;
    color:#111;
  }
  .live .flowplayer .productInfoBox .bottom .now_price span{
    font-size:13px;
    font-weight:700;
    color:inherit;
  }
  .live .flowplayer .productInfoBox .bottom .org_price{
    display:inline-block;
    margin-left:5px;
    font-size:13px;
    color:#999;
    vertical-align: bottom;
    text-decoration: line-through;
  }
  .live .flowplayer .productInfoBox .bottom .btn_buy{
    float:right;
    width:75px;
    height:27px;
    font-size:13px;
    line-height:27px;
    background:#e61754;
  }
  .is-tiny.is-touched:not(.is-seeking) .fp-switch{
    transform: scale(1);
  }
  .live .flowplayer .fp-play-1{
    position: relative;
    top:-40px;
  }
  .live .flowplayer.is-tiny .fp-play-1{
    position: static;
  }
  .live .flowplayer:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    background:#000;
  }
  .live .flowplayer.is-tiny:after{
    display:none;
  }

  
  .mainMedia .toggleFullsize{
    position:absolute;
    top:20px;
    right:10px;
    z-index:130;
    width:30px;
    height:30px;
    background:url('../img/ico/btn_movieSize.png') 50% 50% /30px auto no-repeat;
    transition:opacity 0.3s ease;
    /* transform:translateX(100px); */
    opacity:0;
  }
  .mainMedia .is-touched .toggleFullsize,
  .mainMedia .is-paused .toggleFullsize,
  .mainMedia .is-hovered.is-small .toggleFullsize,
  .mainMedia .is-hovered.is-playing .toggleFullsize{
    /* opacity:1; */
    animation:infinite 1s infinite both alternate;
    transform:translateX(0);
  }
  @keyframes infinite {
    0% {opacity:1}
    100% {opacity:.99}
  }
  .mainMedia .is-paused.is-starting .toggleFullsize{
    opacity:0;
    transform:translateX(100px);
  }
  .mainMedia.info .toggleFullsize{
    top:20px;
  }
  .mainMedia .btn_goBack{
    position:absolute;
    top:20px;
    left:20px;
    z-index:130;
    width:27px;
    height:23px;
    background:url('../img/ico/back_arrow_w.png') 50% 50% / 17px auto no-repeat;
    transition:opacity 0.3s ease;
    transform:translateX(-100px);
    opacity:0;
  }
  .mainMedia .is-touched .btn_goBack,
  .mainMedia .is-paused .btn_goBack{
    opacity:1;
    transform:translateX(0);
  }
  .mainMedia .toggleMute{
    position:absolute;
    top:63px;
    right:10px;
    z-index:130;
    width:30px;
    height:30px;
    background:url('../img/ico/btn_mute.png') 50% 50% /30px auto no-repeat;
    transition:opacity 0.3s ease;
    transform:translateX(100px);
    opacity:0;
  }
  .mainMedia .toggleMute.muted{
    background:url('../img/ico/btn_muted.png') 50% 50% /30px auto no-repeat;
  }
  .mainMedia .is-touched .toggleMute,
  .mainMedia .is-paused .toggleMute{
    opacity:1;
    transform:translateX(0);
  }